<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <p>&copy; 2023 E-Commerce. Todos los derechos reservados.</p>
      </div>
      <div class="col-md-6 social-media">
        <a href="" class="social-icon">
          <fa-icon [icon]="faFacebook"></fa-icon>
        </a>
        <a href="" class="social-icon">
          <fa-icon [icon]="faTwitterSquare"></fa-icon>
        </a>
        <a href="" class="social-icon">
          <fa-icon [icon]="faInstagramSquare"></fa-icon>
        </a>
      </div>
    </div>
  </div>
</footer>
